<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeImageNative" version="3.17.0" targetFramework="native" />
  <package id="FreeImageNative.redist" version="3.17.0" targetFramework="native" />
  <package id="hidapi-VC" version="0.15.0" targetFramework="native" />
  <package id="hidapi-VC.Redist" version="0.15.0" targetFramework="native" />
  <package id="SDL3-VC" version="3.2.8" targetFramework="native" />
  <package id="SDL3-VC.Redist" version="3.2.8" targetFramework="native" />
  <package id="turbojpeg-VC" version="3.1.1" targetFramework="native" />
  <package id="turbojpeg-VC.Redist" version="3.1.1" targetFramework="native" />
</packages>